@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $text-color

/** Start Initial Settings Styles
/* Preloader
.preloader
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: #fff
	z-index: 10
	transition: 1s all
	opacity: 1
	visibility: visible
	&.done
		opacity: 0
		visibility: hidden
		.loader
			display: none
	.loader
		position: absolute
		width: 70px
		height: 70px
		border: 3px solid $text-color
		border-radius: 50%
		border-top-color: $accent-color
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		animation: .7s spin infinite linear
@keyframes spin
	from
		transform: translate(-50%, -50%) rotate(0deg)
	to
		transform: translate(-50%, -50%) rotate(360deg)
/* Headings
.h1, .h2, .h3, .h4, .h5, .h6
	margin: 0
	padding: 0
	font-weight: 600
	font-style: italic
/* Paragraphs
p
	margin: 0
	padding: 0
/* Links
a
	color: $text-color
	outline: none!important
	text-decoration: none!important
	transition: .2s ease-in-out
	&:hover
		color: $accent-color
	&:visited
		color: $text-color
/* Photos (images)
.img-responsive
	display: block
	width: 100%
	height: auto
	object-fit: cover
	object-position: 50% 50%
/* Background photos
.bg-img
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat
/* Parallax effect
.parallax
	height: 500px
	background-attachment: fixed
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: cover
/* Ico menu
.sandwich
	width: $w
	height: $w
	cursor: pointer
	.sw-topper
		position: relative
		width: $w
		height: $h
		background-color: $accent-color
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
	.sw-bottom
		position: relative
		width: $w
		height: $h
		top: $h * 5
		background: $accent-color
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		transition-delay: 0.2s, 0s
	.sw-footer
		position: relative
		width: $w
		height: $h
		top: $h * 10
		background: $accent-color
		border: none
		border-radius: 4px 4px 4px 4px
		transition: all 0.5s
		transition-delay: 0.1s
.sandwich.active
	.sw-topper
		width: $w
		height: $h * 2
		top: 7px
		transform: rotate(135deg)
	.sw-bottom
		width: $w
		height: $h * 2
		top: 4px
		transform: rotate(-135deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(360deg)
/* Social networks
.site-soc-net
	ul, li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		li
			display: inline-block
			margin-right: 15px
			&:last-child
				margin-right: 0
			a
				color: $text-color
				&:hover
					color: $accent-color
				.fa
					font-size: 20px
/* Slider
.owl-carousel
	.slide-wrap
		position: relative
		.slide-img-responsive
			height: 500px
			display: block
			max-width: 100%
			object-fit: cover
			object-position: 50% 50%
		.flex-container
			position: absolute
			top: 0
			width: 100%
			height: 500px
	.slide-bg-img
		height: 500px
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
	.owl-nav
		.owl-prev, .owl-next
			position: absolute
			top: 50%
			transform: translateY(-50%)
			.fa
				color: rgba(#fff, .5)
				font-size: 50px
				transition: .2s ease-in-out
			&:hover
				.fa
					color: #fff
		.owl-prev
			left: 50px
		.owl-next
			right: 50px
	.owl-dots
		display: inline-block
		position: absolute
		bottom: 30px
		left: 50%
		transform: translateX(-50%)
		.owl-dot
			display: inline-block
			background-color: rgba(#fff, .5)
			margin-right: 10px
			width: 10px
			height: 10px
			border-radius: 100%
			transition: .2s ease-in-out
			&:last-child
				margin-right: 0
			&:hover
				background-color: #fff
			&.active
				box-sizing: content-box
				background-color: transparent
				border: 2px solid rgba(#fff, .7)
				transform: translateY(13%)
/* Flex container
.flex-container
	display: flex
	height: 100%
	.flex-item
		margin: auto
/** End Initial Settings Styles

/** Start Site Header Styles
.site-header
	padding-bottom: 40px
	background-color: #fff
	.header-top-line
		.site-logo
			.logo
				display: inline-block
				width: 150px
				height: 150px
				background-size: cover
				background-position: 50% 50%
				background-repeat: no-repeat
		.site-name
			.h1
				display: block
				text-align: center
				text-transform: uppercase
				letter-spacing: 2px
				color: $accent-color
				font-style: italic
				margin-top: 45px
				transition: .2s ease-in-out
				&:hover
					opacity: .8
		.site-info
			margin-top: 45px
			text-align: center
			p
				font-size: 13px
	.header-menu
		.site-menu
			ul, li
				list-style-type: none
				padding: 0
				margin: 0
			ul
				text-align: right
				li
					display: inline-block
					margin-right: 30px
					&:last-child
						margin-right: 0
					a
						color: $text-color
						&:hover
							color: $accent-color
				li.active
					a
						color: $accent-color
		.site-soc-net
			ul
				text-align: center
/** End Site Header Styles

/** Start Site Footer Styles
.site-footer
	background-color: $accent-color
	padding: 80px 0 100px
	color: #fff
	text-align: center
	p
		font-size: 13px
		margin-bottom: 20px
	.subscribe-news
		.email,
		.submit
			color: $text-color
			font-size: 12px
			padding: 4px 15px
			border: none
			transition: .2s ease-in-out
		.email
			max-width: 270px
			width: 100%
			color: #fff
			background-color: rgba(#fff, .3)
			&::placeholder
				color: #fff
		.submit
			text-transform: uppercase
			margin-left: 7px
			&:hover
				color: $accent-color
	.copyright
		.site-name
			text-transform: uppercase
	.site-soc-net
		.fa
			color: #fff
			transition: .2s ease-in-out
			&:hover
				color: rgba(#fff, .6)
/** End Site Footer Styles

/** START HOME PAGE **/
/** Start Main Slider Styles
.site-main-slider-section
	.slide-content
		width: 500px
		padding: 30px 40px 40px
		margin: 0 20px
		background-color: rgba(#fff, .8)
		text-align: center
		.h2
			color: rgba($accent-color, .8)
			margin-bottom: 20px
			font-style: normal
			text-transform: uppercase
		.btn
			margin-top: 30px
			color: $text-color
			text-transform: uppercase
			padding: 8px 35px
			display: inline-block
			border: 1px solid $text-color
			transition: .2s ease-in-out
			&:hover
				color: #fff
				border: 1px solid transparent
				background-color: rgba($accent-color, .8)
/** End Main Slider Styles

/** Start About Us Styles
.site-about-us-section
	margin-top: 80px
	.flex-container
		height: 350px
	.bg-img
		height: 350px
	.img-responsive
		//height: 350px
	.description
		.h2
			color: $accent-color
			margin-bottom: 30px
		p
			margin-bottom: 20px
/** End About Us Styles

/** Start Content Slider Styles
.site-content-slider-section
	margin-top: 80px
	.owl-carousel
		.slide-bg-img,
		.slide-wrap
			position: relative
			.flex-container
				position: absolute
				top: 0
				right: 10%
				padding: 20px 35px
				background-color: rgba(#fff, .8)
				width: 40%
				height: 85%
				.slide-content
					text-align: center
					.h2
						font-style: normal
						text-transform: uppercase
						margin-bottom: 20px
						&:after
							content: ''
							display: block
							width: 40px
							height: 2px
							background-color: $text-color
							margin: 10px auto 0
					p
						margin-bottom: 30px
					.btn
						text-transform: uppercase
						border: 1px solid $text-color
						padding: 8px 35px
						&:hover
							background-color: $text-color
							color: #fff
/** End Content Slider Styles

/** Start Blog Article Styles
.site-blog-article-section
	margin-top: 80px
	.flex-container
		height: 350px
	.bg-img
		height: 350px
	.img-responsive
		//height: 350px
	.description
		.h2
			color: $accent-color
			margin: 15px 0 30px
		p
			margin-bottom: 20px
.blog-category-name
	font-size: 11px
	font-weight: 800
	letter-spacing: 1px
	background-color: rgba($text-color, .7)
	color: #fff
	padding: 4px 10px
	border-radius: 2px
	text-transform: uppercase
/** End Blog Article Styles

/** Start Parallax Section Styles
.site-parallax-section
	margin-top: 80px
	&.reset-margin
		margin: 0
	.flex-container
		height: 500px
		.description
			text-align: center
			background-color: rgba(#fff, .8)
			padding: 50px 65px
			.h2
				text-transform: uppercase
				font-style: normal
				margin-bottom: 30px
			.btn
				text-transform: uppercase
				border: 1px solid $text-color
				padding: 8px 35px
				&:hover
					border: none
					background-color: rgba($accent-color, .8)
					color: #fff
/** End Parallax Section Styles
/** END HOME PAGE **/

/** START ABOUT RESTAURANT PAGE **/
/** Start About Restaurant Section
.site-about-restaurant-section
	margin-top: 80px
	.article-about-restaurant
		.article-content
			.part
				margin-bottom: 40px
				display: inline-block
				&:last-child
					margin: 0
				.article-header
					.h2
						color: $accent-color
						margin-bottom: 30px
				.content
					p
						margin-bottom: 20px
						&:last-child
							margin: 0
				.img-responsive
					//height: 550px
				.bg-img
					height: 550px
/** End About Restaurant Section

/** Start Customer Feedback Section
.site-customer-feedback-section
	margin-top: 80px
	.customer-feedback-header
		text-align: center
		.h2
			color: $accent-color
			margin-bottom: 40px
	.customer-feedback
		.customer-img
			text-align: center
			.img-responsive,
			.bg-img
				display: inline-block
				width: 100px
				border-radius: 50%
				border: 3px solid rgba($accent-color, .7)
			.bg-img
				height: 100px
			.customer
				&:hover
					color: $accent-color
				.h3
					font-style: normal
					margin: 25px 0 15px
		.customer-content
			text-align: left
			p
				margin-bottom: 15px
				font-size: 15px
				&:before,
				&:after
					font-family: FontAwesome
					font-size: 13px
					line-height: 15px
					color: rgba($accent-color, .7)
				&:first-child
					&:before
						content: '\f10d'
						vertical-align: top
						padding-right: 7px
				&:last-child
					margin-bottom: 0
					&:after
						content: '\f10e'
						vertical-align: bottom
						padding-left: 7px
/** End Customer Feedback Section
/** END ABOUT RESTAURANT PAGE **/

/** START BLOG NEWS PAGE **/
/** Start Blog News Section
.site-blog-news-section
	margin-top: 80px
	/** Start Blog News Content
	.blog-news-content
		.blog-news-article
			margin-bottom: 80px
			a
				&:visited
					color: $accent-color
			.article-header
				margin-bottom: 20px
				.h2
					margin: 15px 0 0px
				.article-date
					font-size: 13px
			.article-content
				.bg-img
					height: 350px
				p
					margin: 15px 0
	/** End Blog News Content
	/** Start Blog News Sidebar
	.blog-news-sidebar
		margin-top: 120px
		.category,
		.posts,
		.tags
			margin-bottom: 60px
			&:last-child
				margin: 0
			nav
				margin-top: 20px
			ul, li
				margin: 0
				padding: 0
				list-style-type: none
			span
				font-size: 18px
				&:after
					content: ''
					display: block
					margin-top: 5px
					height: 1px
					width: 30px
					background-color: $text-color
			a
				transition: .2s ease-in-out
				&:hover
					color: $accent-color
				&:visited
					color: $accent-color
		.category
			li
				text-transform: uppercase
				font-size: 15px
		.posts
			li
				font-size: 12px
				margin-bottom: 5px
				.article-date
					display: block
		.tags
			li
				font-size: 12px
				display: inline
				margin-right: 7px
		/** End Blog News Sidebar
/** End Blog News Section
/** END BLOG NEWS PAGE **/

/** START ARTIClE PAGE **/
/** Start Blog News Post Section
.site-blog-news-section
	&.post
		margin: 0
/** End Blog News Post Section
/** END ARTIClE PAGE **/
@import "media" // Всегда в конце
